{% extends "base.html" %}

{% block title %}Dashboard | FloraTech{% endblock %}

{% block extra_css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-3">
    <h1 class="text-4xl font-bold text-green-600 text-center mb-2">Dashboard Gardens 🌱</h1>

    <!-- Sezione meteo -->
    <div class="p-4 mb-6 center">
        <div class="flex justify-center gap-4 p-2 text-white">
            {% for i in weather %}
                <div class="bg-gray-600 flex flex-col items-center shadow-md rounded-3xl p-4 min-w-[14%]">
                    <p class="text-sm font-semibold">{{ i.date }}</p>
                    <img 
                        src="http://openweathermap.org/img/wn/02d@2x.png" 
                        alt="Icona meteo" 
                        class="w-12 h-12"
                    >
                    <p class="text-sm mt-2">🌡 Min: {{ i.temp_min }} °C</p>
                    <p class="text-sm mt-2">🌡 Max: {{ i.temp_max }} °C</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Sezione orti -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for garden in gardens %}
        <div class="bg-gray-600 shadow-lg rounded-3xl p-5 flex flex-col items-center relative text-white">
            <h2 class="text-xl font-semibold">{{ garden.label }}</h2>
            <canvas id="chart{{ garden.id }}" class="mt-4 w-full h-40"></canvas>
            <div class="mt-4 flex gap-4">
                <a href="{% url 'garden' garden.id %}" class="bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded-lg shadow">View</a>
                <a href="{% url 'edit_garden' garden.id %}" class="border-2 border-yellow-600 hover:bg-gray-700 text-white py-2 px-4 rounded-lg shadow">Edit</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Script per i grafici -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% for garden in gardens %}
            const moistureLabels = {{ garden.moisture_labels|safe }};
            // from 2023-04-21 12:00:00 to 21-04
            const formattedLabels = moistureLabels.map(label => {
                const date = new Date(label);
                return date.toLocaleDateString('it-IT', { day: '2-digit', month: '2-digit' });
            });

            const moistureValues = {{ garden.moisture_values|safe }};
            
            const ctx = document.getElementById("chart{{ garden.id }}").getContext("2d");
            new Chart(ctx, {
                type: "line",
                data: {
                    labels: formattedLabels,
                    datasets: [
                        {
                            label: "Soil Moisture (%)",
                            data: moistureValues,
                            borderColor: 'rgb(126, 182, 255)',
                            borderWidth: 2,
                            tension: 0.4,
                            pointRadius: 4,
                            pointBackgroundColor: 'rgba(126, 182, 255)',
                            fill: {
                                target: 'origin',
                                above: 'rgba(34, 105, 197, 0.2)'
                            },
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        x: {
                            ticks: { color: "white" },
                            grid: { color: "gray" }
                        },
                        y: {
                            ticks: { color: "white" },
                            grid: { color: "gray" },
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            labels: { color: "white" }
                        },
                        tooltip: {
                            mode: 'index',
                            intersect: true,
                        }
                    }
                }
            });
        {% endfor %}
    });
</script>
{% endblock %}