{% extends "main_page.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/components/sidebar.css'%}">
    <link rel="stylesheet" href="{% static 'css/home/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/home/welcome.css'%}">
{% endblock head %}

{% block title %} FloraTech {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% include "components/sidebar.html" %}
        {% include "home/homeContent.html" %}
    {% else %}
        {% include "home/homeWelcome.html" %}
    {% endif %}
{% endblock content %}