{% load static %}

<div 
    class="welcome-content" 
    style="background-image: url('{% static 'photo/bg.png' %}');
          background-size: cover;
          background-position: center;">
    
    <div class="welcome-box">
        <h1>FloraTech</h1>
        
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }} <br>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username }}
                {% if form.username.errors %}
                    <ul class="errorlist">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <ul class="errorlist">
                        {% for error in form.first_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    <ul class="errorlist">
                        {% for error in form.last_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <ul class="errorlist">
                        {% for error in form.password1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <ul class="errorlist">
                        {% for error in form.password2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
