<div class="home-content">
    <h1>Viewing details of sensor #{{ sensor.id }}  of hub #{{ sensor.parent_hub.id }}</h1>

    <hr class="border-2 border-top" />

    <div class="container">

        <p>Sensore installato il: {{ sensore.installation_date }}</p>
        
        <p>Ultimo update effettuato: {{ sensore.last_update_date }}</p>

        <p>Ultimi dati ricevuti:</p>
        <p>
            {{ sensor.last_transmitted_telematry }}
        </p>

        {% for tel in telematry %}
            <p>
                {{ tel.humidity }}
            </p>
        {% endfor %}
    </div>

</div>