.home-content {
    margin-left: 250px;
    padding: 20px;
    background-color: #292929;
    min-height: 100vh;
}

.home-content h1 {
    color: #4db39c;
    font-size: 36px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #4db39c;
}

table th {
    color: #4db39c;
    font-weight: bold;
}

.button {
    padding: 10px 20px;
    background-color: #093A61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border-radius: 100px;
}

.button:hover {
    background-color: #0f68b0;
    color: white;
}